#site { margin-bottom: 2px; }
#header { position: fixed; }
label {
  cursor: default;
}
/* Donation Form */
.kimbiaDiv.nmftribute.general.two_col.columnsPerPage2 {
  margin: auto;
  width: 65% !important;
}
/*********************************
 * Blog Specific Styling
 *********************************/
.collection-type-blog .banner-overlay {
  visibility: hidden;
}
/* Blog-only Side Bar */
/* Undoing custom sidebar styles */
.collection-type-blog #sidebar-one-wrapper .image-block, .collection-type-blog #sidebar-one-wrapper .twitter-block {
  display: none;
}
.collection-type-blog #sidebar-one-wrapper .archive-block {
  display: block;
}
.collection-type-blog #sidebar-one .sqs-block-content {
  padding-left: 0px;
  padding-right: 0px;
}
.collection-type-blog #sidebar-one-wrapper { background: none; }
.collection-type-blog #sidebar-one #sidebar-one-blocks {
  padding-top: 0px;
}
/*********************************
 * Navigation bar
 *********************************/
.horizontal-navigation-bar nav ul li a { padding: 0 .92em; }
.horizontal-navigation-bar {
  padding-top: 10;
  padding-bottom: 10;
  height: 91px; /* height of logo */
  line-height: 91px;
  text-align: left !important;
}
#main-navigation.main-nav ul {
	float: left;
  	padding: 0;
}
#main-navigation.main-nav ul li {
    display: inline-block;
    line-height: 91px;
}
/* Donate button background */
#main-navigation ul li:nth-child(8n) a
{
  background-color: #431390 !important;
  color: #ffffff !important;
  padding: 10px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 3px !important;
  -moz-transition: all .1s linear !important;
  -webkit-transition: all .1s linear !important;
  -o-transition: all .1s linear !important;
  transition: all .1s linear !important;
}
#main-navigation ul li:nth-child(8n) a:hover,
#main-navigation ul li:nth-child(8n) a:focus
{
  opacity: .8;
  color: #FFF  !important;
}
/* Style search bar in nav menu */
.horizontal-navigation-bar .search-block {
    display: table;
  float: right;
  width: 210px;
  height: 91px;
  padding: 0;
}
.horizontal-navigation-bar .search-block .sqs-block-content {
	display: table-cell;
	vertical-align: middle;
}
.horizontal-navigation-bar input.search-input {
  padding: 5px 12px 5px 45px; /* Only top and bottom are adjusted from built-in stylesheets */
}

/*********************************
 * Banner Image and Content
 *********************************/
/* Area beyond the banner area's max width will be white */
#page-header-wrapper {
  background-color: white;
}
body.stretch-page-thumbnail #banner-area {
  position: relative;
}
/* Making the banner images on all pages
 * the same height, regardless of tag lines
 */
#banner-wrapper { 
  position: static;
  float: left;
  top: 0px;
  right: 370px;
}
.homepage #banner-area {
  padding: 0 !important;
}
/* The next two rules force the homepage banner to
 * be responsive and also not cut off the logo or text */
.homepage #banner-area #page-thumb {
  position: static;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
}
.homepage #banner-area #page-thumb img {
  width: 100% !important;
  height: auto !important;
  top: auto  !important;
  right: auto;
  left: auto  !important;
  bottom: auto;
}
/* On the homepage, because there is a page description, the vertical
 * centering can only be done as a table cell.
 * NOTE: If a new page is added that has a description, this rule
 * 			may need to be applied to it as well.
 */
body.banner-content-page-title-description.homepage #page-title-wrapper {
  display: table-cell;
  vertical-align: middle;
}
/* Page description (in banner images) */
#page-description p {
  line-height: 1.2em;
  width: 70%;
}
#page-description {
    padding-top: 1em;
}

/*********************************
 * Media Queries
 *********************************/
@media only screen and (max-width: 1140px) {
   /* Only stick the sidebar to the right side when the screen
   * is less than 960
   */
  .sidebar-position-right .one-sidebar #sidebar-one-wrapper {
    float: right;
	margin-right: -24px;
    padding: 12px;
    padding-top: 36px;
    overflow: hidden;
  }
} /* End 1140px media query */

/* 960px is set as the max width for the mobile friendly nav bar */
@media only screen and (max-width: 960px) {
  /* Remove the tag line in order to fit the banner
   * content in the desired height
   */
  #page-description {
  	display: none;  
  }
  #banner-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  /* Styles copied from SS mobile stylesheet to change to mobile nav bar
   * at a wider width than the default in the SS stylesheet
   */
  .horizontal-navigation-bar {
    display: none;
  }
  #mobile-navigation {
    display: block;
    text-align: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: auto; /* corrects top banner from becoming too wide */
  }
  #mobile-navigation ul {
    text-align: center;
  }
  .banner-content-page-title-description #mobile-navigation-title, .banner-content-empty #mobile-navigation-title {
    float: left;
  }
} /* End 906px media query */

@media only screen and (max-width: 768px) {
  /* Sidebar should no longer have absolute positioning as this is where
   * it slides below the main content
   */
  .sidebar-position-right .one-sidebar #sidebar-one-wrapper {
    position: relative;
  }
} /* End 768px media query */

/* Mobile phone styles */
@media only screen and (max-width: 640px) {
  /* Aligning the logo image on mobile, 
   * in addition to padding rules below
   */
  #mobile-nagivation {
    text-align: left;
  }
  /* Overriding positioning of menu icon -
   * making it align right instead of left
   */
  .banner-content-page-title-description #mobile-navigation-title, .banner-content-empty #mobile-navigation-title {
    width: 80%;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  .banner-content-page-title-description #mobile-navigation-label, .banner-content-empty #mobile-navigation-label {
    position: static;
  }
} /* End 640px media query */

/*********************************
 * Sidebar styling
 *********************************/
#sidebar-one .sqs-block-content {
  padding-left: 10px;
  padding-right: 10px;
}
#sidebar-one-wrapper { background: #F8F8F8; }
#sidebar-one #sidebar-one-blocks {
  padding-top: 36px;
}
#sidebar-one-wrapper .archive-block {
  display: none;
}

/*********************************
 * Footer styling
 *********************************/
#page-footer a {
  color: #EEE;
}
#page-footer a:hover {
  color: #E6A83D
}
#page-footer-wrapper {
  background-color: #383838;
}
/* Assumes copyright is the last child in the
 * second inner div of the div#footer-blocks
 */
#footer-blocks div div:last-child {
  color: #666;
}
/* "Scroll to top" button styling (in footer) */
.back-to-top-link {
    display: block;
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: auto;
}
#page-footer .back-to-top-link a {
  	color: #303030;
    display: block;
    font-family: "proxima-nova";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    padding-left: 2px;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;    
}
.back-to-top-link a .arrow {
    display: block;
    margin: 0 auto 4px;
    text-align: center;
    width: 16px;
}
.back-to-top-link a .arrow:before {
    content: "\e02d";
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    font-family: 'squarespace-ui-font';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    color: #363636;
    cursor: pointer;
    display: block;
    height: auto;
    width: auto;
    line-height: 1;
  	padding-bottom: 5px;
}
.back-to-top-link:hover {
  color: #E6A83D;
  opacity: .7;
}
/* Social media icons */
.socialaccountlinks-v2-block nav {
	max-width: -moz-fit-content;
	max-width: -webkit-fit-content;
	max-width: fit-content;
	margin: auto; 
}
a .sqs-svg-icon--social:hover {
  opacity: .7;
}

/*********************************
 * Homepage specific styling
 *********************************/
/* Make logo slightly bigger */
body.banner-content-page-title-description.has-logo-image.homepage .horizontal-navigation-bar #banner, body.banner-content-empty.has-logo-image.homepage .horizontal-navigation-bar #banner {
  height: 100px;
}
body.banner-content-page-title-description.has-logo-image.homepage .horizontal-navigation-bar {
  height: 100px; /* height of logo */
  line-height: 100px;
}
body.banner-content-page-title-description.has-logo-image.homepage #main-navigation.main-nav ul li {
  	line-height: 100px;
}
/* Hide newsletters from sidebar */
body.banner-content-page-title-description.has-logo-image.homepage #sidebar-one #sidebar-one-blocks .row .col div.sqs-block:nth-child(1) {
  display: none;
}
body.banner-content-page-title-description.has-logo-image.homepage #sidebar-one #sidebar-one-blocks .row .col div.sqs-block:nth-child(2) {
  display: none;
}
/* Left align entire subscribe form */
body.homepage .newsletter-block .newsletter-form, body.homepage .newsletter-block .newsletter-form-header-title, body.homepage .newsletter-block .newsletter-form-header-description p {
  text-align: left;
}
body.homepage .newsletter-block .newsletter-form-header {
  width: 100%;
}
/* Prevent ‘What We Do’, ‘Who We Are’, and ‘Why We’re Here headers from turning purple
 * on hover
 */
body.homepage #page-body #content .main-content .sqs-block h2 > a:hover{
  color: #E6A83D;
}
/* Hide overlay and page title only on the homepage */
body.homepage.has-default-bg-image .banner-overlay, body.homepage.has-page-thumbnail .banner-overlay {
  display: none;
}
body.homepage #page-title {
  display: none;
}